@using NRC.Reveal.KoTables.Models
@{
    ViewBag.Title = "Paging";
    Layout = "~/Views/Shared/_DataSourceLayout.cshtml";
    ViewBag.Breadcrumbs = ViewBag.Breadcrumbs ?? new LinkedList<Breadcrumb>();
    ViewBag.Breadcrumbs.AddFirst(new Breadcrumb(ViewBag.Title, "/Home/Paging"));
}

<table id="pagingTable" class="koTable" data-bind="template: { name: 'tableTemplate', data: $data }"></table>

@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var Model = function() {
                // Title of the table
                this.title = "@ViewBag.Title";
                
                // List of columns in the data.  The template will iterate over this to display header templates.
                this.columns = ko.observableArray([]);

                // Actual rows of data.  This is internal only, the template will not touch it.
                this.data = ko.observableArray([]);
                
                // Event hooks for changing the data source
                this.onDataSourceChanging = function () {
                }
                
                this.onDataSourceChanged = function () {
                }

                // Handle collapsing
                this.collapsed = ko.observable(false);
                this.toggleCollapsed = function () {
                    this.collapsed(!this.collapsed())
                }

                // Paging
                this.page = new Page(this.data, 10);
                
                // We explicity tell the template where to get the final data
                this.outputData = this.page.outputArray;
            };

            var model = new Model();
            registerModel(model);
            changeDataSource("Tiny");
            ko.applyBindings(model);
        });
    </script>
}
